
Body,html {
    background-color:#323232;
    margin:0px;
    
    }
    #dirwindow {
        color: #fff;
       
        width: calc(100% - 50px);
    }
    #mainwindow{
        border-radius:10px;
    margin:40px;
    background-color:#1d1f21;
    }
    #mainwindow , #dirwindow{
        font-size :1em;
        
        
        box-shadow: #0000002e 3px 8px 18px;
        font-family: arial;
    }

    #menubar{
    padding: 10px;
    width: calc(100% - 20px);
    height:62px;
    background-color:#292929;
    border-bottom:1px solid #000;
    border-radius: 10px 10px 0px 0px
    }
    #menubar a{
        color:#fff;
        text-decoration:none;
    }
    #menubar a:hover{
        color:#0000002e;
        text-decoration:none;
    }
 
    .dirary:hover, #menubar a:hover{
        color:#414141;
background-color:#fff;

    }

   tbody{

    box-shadow: inset 0px 0px 8px #00000075;
   }
    .grid-container{
        box-shadow: inset 0px 0px 8px #00000075;
        padding: 24px;
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;

    }
    .grid-item {
        width: 190px;
        height: 190px;
        margin:10px;
        padding: 20px;
        
        text-align: center;
      }

    .grid-item img {
    margin: 0 auto!important;
    display: block;
    width: 150px!important;
    height:auto!important;
    max-height:150px!important;
    }
    
    .filetype{
        vertical-align: bottom;
    margin-left: -10px;
    width:20px;
    height:20px;
    
    }
    text {
        margin-left:5px;
    }
    
    
    
    table a:hover{
    color:#fff;
    background-color: #565369;
    }
    
    table{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    width:100%;
    
    }

    #sortbutton{
        vertical-align: middle;
        height:50px;
        width:50px;
    }
    table a, .grid-container a{
        width: calc(100% - 34px);
        height: 100%;
    
    padding-left:24px;
    padding-right:10px;
    padding-top:6px;
    padding-bottom:6px;
    display: block;
    
    color:#fff;
    text-decoration: none;

    }
    tr:nth-child(even){background-color: #252729;}
    
    td:nth-child(2){
        color:#808080;
    }
    
    td {
        width: 88%;
        text-align: left;
    
    }
    th{
        color: #fff;
        font-weight: normal;
        height: 54px;
        padding-top: 24px;
        padding-left: 7px;
        width: 50%;
        box-shadow: 0px 3px 5px #00000075;
        text-align: left;
      
    }
    input[type=submit] {
        box-shadow: 0px 0px 2px #00000075;
        width: 46px;
        height: 34px;
        border-radius:6px;
        border: 0px solid #000;
        background-color: #484848;
        background-image: url(/explorer/images/thumbnail.png);
        background-size: contain;
        background-position:center;
    }
    .filesize{
        color:rgb(177, 177, 177);
    
        }

        #slider{

         background-color: #484848;
        width: 150px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        vertical-align: middle;
        border: unset;
        }

        .ui-slider-handle.ui-corner-all.ui-state-default{
background-color:#fff;

        }
    .dirary{
        
        box-shadow: 0px 0px 2px #00000075;
        margin-right:3px;
        padding:8px;
        background-color:#484848;
        border-radius:6px;
        border: 0px solid #000;
        color:#fff;
    }

    @media only screen and (max-width: 600px) {
        #mainwindow{
            padding:0px;
            margin:0px;
        }
        td:nth-child(2),th:nth-child(2){
    display:none;
    
        }
        .grid-container{
            display: block;
    margin-left: 66px;
    margin-right: auto;
    right: 0;
    text-align: center;
    
        }
    }
    