
Body,html {
    background-color:#343c46;
    margin:0px;
    
    }
    #dirwindow {
        color: #fff;
       
        width: calc(100% - 50px);
    }
    #mainwindow{
    margin:40px;
    
    }
    #mainwindow , #dirwindow{
        font-size :1em;
        padding: 24px;
        border: 1px solid #404954;
        box-shadow: #0000002e 3px 8px 18px;
        font-family: arial;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;

    }
    .grid-item {
        width: 190px;
        height: 190px;
        margin:10px;
        padding: 20px;
        
        text-align: center;
      }

    .grid-item img {
    margin: 0 auto!important;
    display: block;
    width: 150px!important;
    height:auto!important;
    max-height:150px!important;
    }
    
    #filetype{
        vertical-align: bottom;
    margin-left: -10px;
    width:20px;
    height:20px;
    
    }
    text {
        margin-left:5px;
    }
    
    #mainwindow a{
        width: calc(100% - 34px);
        height: 100%;
    
    padding-left:24px;
    padding-right:10px;
    padding-top:6px;
    padding-bottom:6px;
    display: block;
    
    color:#fff;
    text-decoration: none;
    }
    
    #mainwindow a:hover{
    color:#fff;
    background-color: #565369;
    }
    
    table{
    width:100%;
    
    }
    tr:nth-child(even){background-color: #2a313a;}
    
    td:nth-child(2){
        color:#808080;
    }
    
    td {
        width: 88%;
        text-align: left;
    
    }
    th{
        color: #fff;
        font-weight:normal;
        height: 54px;
        padding-top: 24px;
        border-bottom: 1px solid #2a313a;
        width: 50%;
        text-align:left;
    }
    input[type=submit] {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        background-color: #fff;
        background-image: url(/explorer/images/thumbnail.png);
        background-size: cover;
    }
    @media only screen and (max-width: 600px) {
        #mainwindow{
            padding:0px;
            margin:0px;
        }
        td:nth-child(2),th:nth-child(2){
    display:none;
    
        }
        .grid-container{
            display: block;
    margin-left: 66px;
    margin-right: auto;
    right: 0;
    text-align: center;
    
        }
    }
    